.countries {
  width: 280px;
  border: 1px solid lightgrey;
  height: calc(100vh - 20px);
  overflow-y: auto;
  border-radius: 5px;
  flex-shrink: 0;
}

.countries-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.countries-item {
  background-color: #f9f9f9;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.countries-item:hover {
  background-color: #e0e0e0;
  transform: translateY(-3px);
}